.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 12px;
    flex-direction: column ;
    width: 200px;
    height: 150px;
}



.hello-li {
    list-style: none;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    width: 200px;
    height: 50px;
    justify-content: center;

}
 
  .product-li,
  .bookmark-li {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-top: 1px solid #cccccc;
    justify-content: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  

  .product-li img,
  .bookmark-li img {
    width: 20px;
    margin-right: 5px;
  }


  @keyframes fadeIn {
    0% {
        transform: translateY(-20%);
      }
      100% {
        transform: translateY(0);
      }
  }
  
  .fade-in {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: ease;
  }