.product-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: center;
}
h3 {
    font-size: 16px;
    font-weight: 800;
}
.sub-title {
    font-size: 16px;
    font-weight: 400;
    
}
.brand-title {
    display: flex;
    justify-content: space-between;
}
.follower {
    display: flex;
    justify-content: end;
}
.discount-percent {
    color: #452CDD;
    font-size: 16px;
    font-weight: 800;
}
.price{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: end;
}
.product-title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.product-img {
    width: 264px;
    height: 210px;
    border-radius: 12px;
}