
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    max-width: 100%;
    height: 80px;
    padding: 0 76px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

span.logo-title {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 12px;
    vertical-align: middle;
}
div.logo-container{
    display: flex;
}
div.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
}